# 可执行文件
*.exe
# 数据文件
**/.DS_Store
searchIndex.json
# 缓存文件
cache/cache_name
cache/cache_title

covearge.out
#IDE
tensorflow/.idea
**/__pycache__/**
tensorflow/CBOW/
tensorflow/data/
emb.json
emb_short.json
embVectors.json
./backend
