import axios from 'axios'
axios.defaults.withCredentials = false
export const axiosInstance = axios.create({
  method: 'get',
  // This is the url for the backend demo server launched in backend/hw.go
  baseURL: 'http://<HOST_IP>:8080',
  timeout: 5000
})
